
.confirmBoxBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.confirmBox {
    width: 300px;
    position: fixed;
    padding: 15px;
    background-color: black;
    color: white;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 0 auto 0 auto;
}

.confirmBox .title {
    font-weight: bold;
}

.confirmBox .message {

}

.confirmBox .cancelButton {
    float: left;
    display: block;
    margin: 5px auto 0 auto;
    border-radius: 5px;
    text-align: center;
    border: 1px solid orange;
    color: orange;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
    text-decoration: none;
}

.confirmBox .cancelButton:hover {
    background-color: rgb(55, 43, 0);
}

.confirmBox .okButton {
    float: right;
    display: block;
    margin: 5px auto 0 auto;
    border-radius: 5px;
    text-align: center;
    border: 1px solid greenyellow;
    color: greenyellow;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
    text-decoration: none;
}

.confirmBox .okButton:hover {
    background-color: rgb(40, 40, 40);
}