#helpBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

#help {
    position: absolute;
    width: 600px;
    top: 40px;
    padding: 15px;
    border: 1px solid rgb(225, 225, 232);
    border-radius: 8px;
    background-color: black;
    margin: 0 auto 0 auto;
    font-size: 0.9em;
}

#help .title {
    font-weight: bold;
    color: white;
    font-size: 1em;
}

#help b {
    color: orange
}

#help .closeButton {
    color: white;
    font-weight: bold;
}