
.researchBackButton {
    display: block;
    width: 150px;
    border: 1px solid lightslategray;
    border-top: 0;
    padding: 6px 10px 4px 10px;
    margin: 0 2px 10px 2px;
    border-radius: 0 0 5px 5px;
    color: rgb(244, 244, 244);
    text-decoration: none;
    cursor:pointer;
    text-align:center;
    font-weight:bold;
}

.researchBackButton:hover {
    background-color: lightslategray;
}

.researchDescription {
    padding-left: 10px;
}

.researchItem {
    width: 400px;
    height: 30px;
    float: left;
    border: 1px solid rgb(56,56,56);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.researchItem .description {
    font-size:0.9em;
    color:lightgray;
}

.researchItem .priceTitle {
    font-size: 0.8em;
    color:lightgray;
}

.researchItem .component {
    margin-right: 5px;
}

.researchItem .buyButton {
    float:right;
    width: 50px;
    margin: 5px auto 0 auto;
    border-radius: 5px;
    text-align: center;
    border: 1px solid greenyellow;
    color:greenyellow;
    padding: 3px;
    cursor: pointer;
}

.researchItem .buyButton:hover {
    background-color: rgb(40, 40, 40);
}

.researchItem .cantBuy {
    border: 1px solid red;
    color:red;
    cursor: no-drop;
}

.researchItem .cantBuy:hover {
    background-color:transparent;
}
