#settingsBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

#settings {
    position: absolute;
    top: 30px;
    padding: 15px;
    border: 1px solid rgb(225, 225, 232);
    border-radius: 8px;
    background-color: black;
    margin: 0 auto 0 auto;
}

#settings .saveData {
    margin: 10px 0 10px 0;
    width: 400px;
    height: 100px;
}

#settings .userHash {
    margin: 10px 0 10px 0;
    width: 600px;
}

#settings a {
    color: white;
    font-weight: bold;
}