
<div id="helpBg"></div>
<div id="help">
    <a href="javascript:void(0);" class="closeButton" style="float:right; display:block;">Close</a>
    <img src="img/reactors/start.png" style="float:left; margin: 5px;"/>
    <b class="title">How to start?</b><br/>
    Start by <b>building wind turbines</b>, these produce power that you have to manually sell by <b>clicking Sell all
    power</b>. Later you can build offices
    that will sell power automatically and hire managers who update wind turbines automatically.<br/>
    Probably one of the first things you want to do is to get research center, so you can research more advanced
    components / buildings.<br/>
    Wind turbines, solar cells etc have lifetime, they produce power only when their lifetime has not expired. After
    they expire replace them<br/>
    <br/>
    <b class="title">Longer guide</b><br/>
    See longer guide at Kongregate forum
    <a href="http://www.kongregate.com/forums/17013-reactor-idle/topics/562975-basic-beginner-guide" target="_blank"
       style="color:white; font-weight:bold;">here</a>
    (opens in new tab/window)<br/>
    <br/>
    <b class="title">Keys</b><br/>
    * <u>Left click</u> - most actions, buy component etc.<br/>
    <img src="img/reactors/complexReactor.png" style="float:right; margin: 5px;"/>
    * <u>Right click</u> - sell/destroy component<br/>
    * <u>CTRL + left click</u> - replace all same type components. (Very useful if you have many wind turbines and
    you want to update them all.)<br/>
    * <u>CTRL + right click</u> - sell all same type components.<br/>
    * <u>Hold SHIFT + left click</u> - Move mouse over tiles to where you want to buy component. Less clicking -
    yay!<br/>
    * <u>Hold SHIFT + right click</u> - Move mouse over tiles to sell them.<br/>
    <br/>
    <b class="title">What to expect?</b><br/>
    * More challenging game play as time goes on!<br/>
    * Bigger and more complicated reactors consisting of nuclear cells, big heat distribution networks with generators
    and water cooling.<br/>
    * Joy and happiness when you blow up your reactor! :) <br/>
    <br/>
    <b class="title">Offline progress?</b><br/>
    If game is closed you will get bonus ticks that allow the game to be run really fast.
</div>