
<div id="helpBg"></div>
<div id="help">
    <a href="javascript:void(0);" class="closeButton" style="float:right; display:block;">Close</a>
    <img src="img/reactors/start.png" style="float:left; margin: 5px;"/>
    <b class="title">怎样开始?</b><br/>
    开始时 <b>建设风力涡轮机</b>, 这些产生的力量必须通过<b>点击全部销售来手动销售
    功率</b>的。 以后你可以建立办公室
     这将自动销售电力，并聘请自动更新风力涡轮机的经理。<br/>
    也许你想要做的第一件事就是去研究中心，这样你就可以研究更先进的组件/建筑物。<br/>
    风力涡轮机，太阳能电池等都有寿命，只有当它们的使用寿命没有过期时才产生功率。 他们到期之后，你可以更换它们<br/>
    <br/>
    <b class="title">更多的帮助</b><br/>
    在Kongregate论坛看更多的帮助
    <a href="http://www.kongregate.com/forums/17013-reactor-idle/topics/562975-basic-beginner-guide" target="_blank"
       style="color:white; font-weight:bold;">这里</a>
    (在新标签页/窗口中打开)<br/>
    <br/>
    <b class="title">热键</b><br/>
    * <u>点击鼠标左键</u> - 大多数操作，购买组件等。<br/>
    <img src="img/reactors/complexReactor.png" style="float:right; margin: 5px;"/>
    * <u>点击鼠标右键</u> - 出售/销毁组件<br/>
    * <u>按着CTRL + 点击鼠标左键</u> - 替换所有相同类型的组件。 （如果你有很多风力发电机和风力发电机，那么非常有用，会更新所有同类型组件。）<br/>
    * <u>按着CTRL + 点击鼠标右键</u> - 出售所有相同类型的组件。<br/>
    * <u>按着SHIFT建 + 点击鼠标左键</u> - 将鼠标移动到您要购买组件的位置。 点击一下 - 好极了！<br/>
    * <u>按着SHIFT建 + 点击鼠标右键</u> - 将鼠标移到地块上销售。<br/>
    <br/>
    <b class="title">敬请期待的内容?</b><br/>
    * 随着时间的推移，更具挑战的游戏玩法！<br/>
    * 更大，更复杂的反应堆由核电池，大型热发电网络和发电机组成和水冷。<br/>
    * 当你炸毁你的反应堆时，快乐和喜悦！:) <br/>
    <br/>
    <b class="title">离线进度?</b><br/>
    如果游戏关闭，你会得到离线奖励，让游戏运行速度非常快。
</div>