
<div class="menu">
    <a href="javascript:void(0);" id="reactorsButton">Power plants</a>
    <a href="javascript:void(0);" id="researchButton">Research</a>
    <a href="javascript:void(0);" id="upgradesButton">Upgrades</a>
    <a href="javascript:void(0);" id="settingsButton">Settings</a>
    <a href="javascript:void(0);" id="purchasesButton" style="display:none">Extra</a>
    <a href="javascript:void(0);" id="helpButton">Help</a>
</div>

<div class="infoText"></div>

<div class="infoButtons">

    <a href="javascript:void(0);" id="autoRebuildButton" class="autoRebuildButton">[[Dummy data]]</a><br/>

    <div class="speedControls">
        <a href="javascript:void(0);" class="button stopButton" id="stopButton">Pause</a>
        <a href="javascript:void(0);" class="button playButton" id="playButton">Play</a>
        <a href="javascript:void(0);" class="button playFastButton" id="playFastButton">Fast &gt;&gt;</a>
        <a href="javascript:void(0);" class="button playNormalButton" id="playNormalButton">Normal</a>
        <span id="bonusTicks" class="bonusTicks">Bonus ticks: <span></span></span>
    </div>
</div>