
<div class="menu">
    <a href="javascript:void(0);" id="reactorsButton">发电厂</a>
    <a href="javascript:void(0);" id="researchButton">研究</a>
    <a href="javascript:void(0);" id="upgradesButton">升级</a>
    <a href="javascript:void(0);" id="settingsButton">设置</a>
    <a href="javascript:void(0);" id="purchasesButton" style="display:none">附加</a>
    <a href="javascript:void(0);" id="helpButton">帮助</a>
</div>

<div class="infoText"></div>

<div class="infoButtons">

    <a href="javascript:void(0);" id="autoRebuildButton" class="autoRebuildButton">[[Dummy data]]</a><br/>

    <div class="speedControls">
        <a href="javascript:void(0);" class="button stopButton" id="stopButton">暂停</a>
        <a href="javascript:void(0);" class="button playButton" id="playButton">开始</a>
        <a href="javascript:void(0);" class="button playFastButton" id="playFastButton">加速 &gt;&gt;</a>
        <a href="javascript:void(0);" class="button playNormalButton" id="playNormalButton">正常</a>
        <span id="bonusTicks" class="bonusTicks">奖励获得: <span></span></span>
    </div>
</div>