
<div class="textLine">
    <span class="productionTitle">Money:</span>
    <span class="money have" id="money">0</span>
    <span class="money production" id="income">0</span>
</div>

<div class="textLine">
    <span class="productionTitle">Research:</span>
    <span class="research have" id="research">0</span>
    <span class="research production" id="researchProduction">0</span>
</div>

<div class="textLine">
    <span class="productionTitle">Power:</span>
    <span class="power" id="power">0</span>
    <span class="power" id="powerProduction">0</span> <br/>
</div>

<div class="textLine">
    <span class="productionTitle">Max power:</span>
    <span class="power" id="maxPower">0</span>
    <span class="productionTitle">Storage:</span>
    <span class="power" id="powerStored">0</span>
</div>

<div class="powerBarArea">
    <div class="bar" id="powerBar"></div>
</div>

<a href="javascript:void(0);" id="sellPowerButton" class="sellPowerButton">Sell all power</a>
