
<div class="reactors">
    <div class="header">
        你拥有 <span class="money">$<b id="money" class="money"></b></span> 可以消费，这是非常不错的。
    </div>
    <div class="help">
        购买更多的土地，创造更大的帝国。 来吧，买一些！
    </div>
    <div class="selectButtons">
        {{#each reactors}}
        <div class="reactorSelect {{design}}">
            <div class="description">
                {{name}}
            </div>

            {{#if isBought}}

            <div class="productionTitle">收入</div>

            <div class="textLine money" data-id="{{id}}">-</div>
            <div class="productionTitle">研究</div>

            <div class="textLine research" data-id="{{id}}">-</div>

            <div class="button selectButton" data-id="{{id}}">选择</div>

            {{else}}

            <div class="productionTitle price">价格</div>

            <div class="textLine money">{{price}}</div>
            <div class="button buyButton" data-id="{{id}}">购买</div>

            {{/if}}

        </div>
        {{/each}}
    </div>
</div>
