
<span class="researchBackButton" id="backToReactor">Back to reactor</span>

<div class="researchDescription">
    You have <b id="researchPoints" class="research"></b> research points. Use them wisely! You have researched <span
        id="technologies"></span> technologies.<br/>
    <span style="font-size:0.8em">Research applies to every area (village, city, metropolis etc).</span>
</div><br/>
{{#each research}}
{{#if changeGroup}}
<br style="clear:left"/><br/>
{{/if}}
<div class="researchItem">

    <div class="buyButton" data-id="{{id}}">BUY</div>

    <div class="component {{icon}}" style="float:left;"></div>
    {{name}}
    {{#if showMax}}
    <span class="bought" data-id="{{id}}"></span>/{{max}}
    {{/if}}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {{#if price}}
    <span class="priceTitle">Price:</span><span class="money">{{price}}</span>
    {{/if}}

    {{#if priceResearchPoints}}
    <span class="priceTitle">Research:</span><span class="research">{{priceResearchPoints}}</span>
    {{/if}}
    <br/>

    <div class="description">
        {{description}}
    </div>

</div>
{{/each}}
