
<div id="settingsBg"></div>
<div id="settings" style="width:600px">
    <a href="javascript:void(0);" id="closeButton" style="float:right; display:block;">关闭</a><br/>
    <br/>
    这是你的游戏保存数据。 复制并存储在一个安全的地方，例如网盘、邮箱等地方 :)<br/>
    <textArea type="textArea" name="saveData" id="saveData" class="saveData"></textArea><br/>
    如果您想加载游戏，请替换保存游戏数据并点击
    <a href="javascript:void(0);" id="loadButton">加载</a>按钮<br/>
    <br/>
    <br/>
    {{#if hasPaypal}}
    这是你的用户哈希值。 如果您进行任何购买操作，请将其复制到安全的地方。 你所有的购买都与此哈希值绑定
    。 保证你的存档安全，好像它被公开购买将被自动禁用<br/>
    如果您切换计算机或浏览器，请在此处复制哈希值并更新它到新的浏览器/计算机。 <br/>
    <input type="text" name="userHash" id="userHash" class="userHash"/><br/>
    <a href="javascript:void(0);" id="userHashButton">更新哈希值（此操作将刷新游戏！）</a><br/>
    <br/>
    <br/>
    {{/if}}

    <div style="text-align:center">
        <a href="javascript:void(0);" id="resetButton" style="color:red;">硬复位</a>
    </div>
    <br/>
    <br/>
    <center>版本号: 1.11</center>
</div>